table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child( even ) {
  background-color: rgb(187, 187, 187);
}

.main-filter-div {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.name-filter-div {
  align-self: center;
  padding-bottom: 20px;
  /* border: 2px solid green; */
}

.input-name {
  width: 300px;
  flex-grow: 1;
}

.category-filter-div {
  /* border: 2px solid blue */
}